@import "tailwindcss";

@layer components {
    .nav{
       @apply  container flex items-center mx-auto justify-between px-6 py-4 bg-white rounded-full mt-10;
    }
}

.rounded 
{
    border-radius: 450px 10px 0px 0px;
}

.warranty-section 
{
    position: relative;
}

.shield 
{
    position: absolute;
    right: 30px;
    top: 31px;
}

.man-section 
{
    position: absolute;
    top: -81px;
    /* left: 20px; */
}

.google 
{
    position: absolute;
    bottom: 30px;
    left: 48px;
}


.wranty-section 
{
    position: absolute;
    left: 44px;
}